@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Marck+Script:regular);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

html, body {
  font-family: Montserrat;
  font-size: 10px;
  width: 100%;
  min-height: 100vh;
  color: #545155;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.title {
  font-weight: 300;
  font-size: 4.8em;
  text-transform: uppercase;
  line-height: 1.5em;
}

.section-title {
  font-weight: 500;
  font-size: 4.8em;
  line-height: 1.5em;
  text-transform: uppercase;
}

.header h1 {
  color: #BF1E77;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
}
.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 37px 0 17px;
}
.header-location {
  position: relative;
  margin-left: auto;
  font-size: 1.2em;
  line-height: 1.5em;
}
.header-location::before {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  height: 16px;
  width: 16px;
  background: no-repeat url(/src/icon/location.svg);
}
.header-input {
  margin-left: 50px;
  display: block;
  height: 40px;
  width: 300px;
  padding: 12px 16px;
  box-sizing: border-box;
  background-color: #FBF7F4;
  border-radius: 4px;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #545155;
}
.header-contact {
  margin-left: 61px;
  text-align: right;
}
.header-contact a {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.5em;
}
.header-contact p {
  font-size: 1.2em;
  line-height: 1.5em;
}
.header-list {
  margin-left: 28px;
  display: flex;
  flex-direction: row;
  background-color: #FBF7F4;
  border-radius: 4px;
  overflow: hidden;
}
.header-list a {
  height: 100%;
}
.header-list img {
  padding: 12px 17px;
}
.header-list li {
  position: relative;
  margin: 0 -1px;
}
.header-list li:last-child {
  background-color: #BF1E77;
}
.header-list li::after {
  position: absolute;
  content: "";
  top: calc(50% - 8px);
  right: 0;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #BF1E77;
}
.header-menu {
  margin-bottom: 34px;
}
.header-menu--list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu--list li {
  position: relative;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.5em;
  transition: all 0.3s ease;
}
.header-menu--list li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #BF1E77;
}
.header-menu--list li:hover {
  color: #BF1E77;
}
.header-menu--list li:hover::after {
  transition: width 0.3s;
  width: 100%;
}

.mainscreen-wrapper {
  width: 100%;
}
.mainscreen-carousel {
  height: 595px;
  overflow: hidden;
}

.sale {
  margin: 100px 0;
}
.sale-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.sale-item {
  width: 31.5%;
  padding: 40px 40px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  height: 240px;
  background: linear-gradient(rgba(191, 30, 119, 0), #BF1E77);
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.sale-item--bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -10;
}
.sale-item--discount {
  display: inline-block;
  font-weight: 500;
  font-size: 6.4em;
  line-height: 1.1em;
}
.sale-item--title {
  display: inline-block;
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.5em;
  text-transform: lowercase;
}

.categories {
  position: relative;
}
.categories-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 92%;
  height: calc(100% - 150px);
  border-radius: 20px 0 0 20px;
  background-color: #FBF7F4;
  z-index: -10;
}
.categories-bg--title {
  position: absolute;
  top: 0;
  left: calc(50% - 400px);
  text-align: center;
  width: 800px;
  font-family: Marck Script;
  font-size: 16.8em;
  line-height: 1.1em;
  color: #fff;
  z-index: -10;
}
.categories-wrapper {
  text-align: center;
  padding-top: 80px;
  box-sizing: border-box;
}
.categories-items {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.categories-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px 40px;
  box-sizing: border-box;
  width: 31.5%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(rgba(111, 57, 58, 0) 80%, #6F393A);
  transition: background-color 0.3s ease;
  text-align: left;
}
.categories-item:hover {
  background: rgba(191, 30, 119, 0.4392156863);
}
.categories-item.wide {
  width: 63%;
}
.categories-item--bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.categories-item--title {
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.5em;
  color: #fff;
}

.earlier {
  position: relative;
  padding-top: 80px;
  box-sizing: border-box;
}
.earlier-bg--title {
  position: absolute;
  top: 0;
  left: calc(50% - 400px);
  text-align: center;
  width: 800px;
  font-family: Marck Script;
  font-size: 16.8em;
  line-height: 1.1em;
  color: rgba(191, 30, 119, 0.062745098);
  z-index: -10;
}
.earlier-wrapper {
  text-align: center;
}
.earlier-carousel {
  width: 100%;
}
.earlier-item {
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.earlier-img {
  position: relative;
  width: 370px;
  height: 370px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}
.earlier-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.earlier-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 30, 119, 0);
  transition: background-color 0.3s ease;
}
.earlier-img:hover::after {
  background-color: rgba(191, 30, 119, 0.5019607843);
}
.earlier-favorite {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}
.earlier-favorite + label {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.earlier-favorite + label::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 28px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: center no-repeat url(/src/icon/favorite.svg);
}
.earlier-favorite:checked + label::before {
  background: center no-repeat url(/src/icon/favoriteFill.svg);
}
.earlier-subtitle {
  font-size: 1.2em;
  line-height: 1.5em;
}
.earlier-title {
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #BF1E77;
}
.earlier-attribute {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}
.earlier-attribute li {
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1.5em;
}
.earlier-attribute li span {
  font-weight: 400;
}
.earlier-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid #BF1E77;
}
.earlier-price--actual {
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.5em;
  margin-right: 20px;
}
.earlier-price--old {
  font-size: 1.6em;
  line-height: 1.5em;
  opacity: 0.3;
}
.earlier-price--addtocart {
  display: inline-block;
  margin-left: auto;
  font-size: 1.6em;
  line-height: 1.5em;
  color: #BF1E77;
}
.earlier-price--addtocart:hover {
  color: #6e1044;
}

.footer {
  position: relative;
  margin-top: 240px;
}
.footer-subscribe {
  position: absolute;
  top: -150px;
  left: calc(50% - 510px);
  margin-bottom: -150px;
  z-index: 10;
}
.footer-info {
  padding: 250px 0 90px;
  background-color: #FBF7F4;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
}
.footer-section {
  flex: 1 1 33.333333%;
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  line-height: 1.5;
}
.footer-section:not(:first-child) {
  padding-left: 70px;
  border-left: 1px solid #BF1E77;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 600;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-social {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-social a {
  display: inline-flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #545155;
  border-radius: 50%;
}
.footer-subtitle {
  margin-top: auto;
  font-size: 0.75em;
}

.subscribe {
  color: #fff;
}
.subscribe-wrapper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  padding: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.subscribe-bg {
  background-color: #BF1E77;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.subscribe-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.08;
}
.subscribe-info {
  max-width: 350px;
}
.subscribe-title {
  margin-bottom: 20px;
  font-size: 3.8em;
  line-height: 1.5em;
  font-weight: 500;
}
.subscribe-subtitle {
  font-size: 1.6em;
  line-height: 1.5em;
}
.subscribe-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: end;
}
.subscribe-form--group {
  width: 100%;
  display: flex;
}
.subscribe-form--group input {
  flex: 1 1 auto;
  border-radius: 4px;
  padding: 13px 30px;
  box-sizing: border-box;
  outline: none;
}
.subscribe-form--group input::-moz-placeholder {
  color: #BF1E77;
}
.subscribe-form--group input:-ms-input-placeholder {
  color: #BF1E77;
}
.subscribe-form--group input::placeholder {
  color: #BF1E77;
}
.subscribe-form p {
  font-size: 1.2em;
  line-height: 1.5em;
}
.subscribe-form p a {
  text-decoration: underline;
}
.subscribe-btn {
  position: relative;
  display: inline-block;
  padding: 0 90px 0 20px;
  margin-left: 20px;
  box-sizing: border-box;
  background-color: #545155;
  border-radius: 4px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: background-color 0.3s ease;
}
.subscribe-btn::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 45px;
  top: calc(50% - 4px);
  right: 30px;
  background: no-repeat url(/src/footer/arrowBtn.svg);
}
.subscribe-btn:hover {
  background-color: #403e41;
}