// Null styles ========================
@import "_null.scss";

// Fonts ==========================
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Marck+Script:regular);

// Main scripts =======================
html, body {
    font-family: Montserrat;
    font-size: 10px;
    width: 100%;
    min-height: 100vh;
    color: #545155;
    overflow-x: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.title {
    font-weight: 300;
    font-size: 4.8em;
    text-transform: uppercase;
    line-height: 1.5em;
}
.section-title {
    font-weight: 500;
    font-size: 4.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    @media (max-width:1250px) {
        font-size: 3.5em;
    }
    @media (max-width:740px) {
        font-size: 2.2em;
    }
}
.accordion-hide {
    &.header-wrapper{        
        @media (max-width: 1270px) {
            height: 110px;
            overflow-y: hidden;
        }
        @media (max-width: 740px) {
            height: 95px;        
        }
    }
    &.footer-section{        
        @media (max-width: 1270px) {
            height: 44px;   
        }
    }
}

// Header =============================
.header {
    @media (max-width: 740px) {
        font-size: 0.8em;
    }
    &-title {
        color: #BF1E77;
        display: inline-block;
        @media (max-width: 1270px) {
            padding-right: 40vw;
        }
        @media (max-width: 740px) {
            padding-right: 0;
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 37px 0 5px;
        @media (max-width: 1270px) {
            flex-wrap: wrap;
        }
    }
    &-location {
        position: relative;
        margin-left: auto;
        font-size: 1.2em;
        line-height: 1.5em;
        padding-left: 28px;
        box-sizing: border-box;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            background: no-repeat url(/src/icon/location.svg);
        }
        @media (max-width: 1270px) {
            order: 3;
            margin-left: 20px;
        }
    }
    &-input {
        margin-left: 50px;
        display: block;
        height: 40px;
        width: 300px;
        padding: 12px 16px;
        box-sizing: border-box;
        background-color: #FBF7F4;
        border-radius: 4px;
        font-size: 1.2em;
        line-height: 1.5em;
        color: #545155;
        @media (max-width: 1270px) {
            order: 1;
            margin: 0 auto 0 0;
        }
        @media (max-width: 740px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &-contact {
        margin-left: 61px;
        text-align: right;
        & a {
            font-weight: 500;
            font-size: 2em;
            line-height: 1.5em;
        }
        & p {
            font-size: 1.2em;
            line-height: 1.5em;            
        }
        @media (max-width: 1270px) {
            order: 2;
            margin-left: 0;
        }
        @media (max-width: 740px) {
            margin-right: auto;
        }
    }
    &-list {
        margin-left: 28px;
        display: flex;
        flex-direction: row;
        background-color: #FBF7F4;
        border-radius: 4px;
        overflow: hidden;
        & a {
            height: 100%;
        }
        & img {
            padding: 12px 17px;
        }
        & li{
            position: relative;
            margin: 0 -1px;
            &:last-child {
                background-color: #BF1E77;
            }
            &::after {
                position: absolute;
                content: '';
                top: calc(50% - 8px);
                right: 0;
                display: block;
                width: 1px;
                height: 16px;
                background-color: #BF1E77;
            }
        }
        @media (max-width: 1270px) {
            margin-left: auto;
        }
        @media (max-width: 740px) {
            margin-left: auto;
            & img {
                padding: 5px 8px;
            }
        }
    }
    &-burger {
        display: none;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        border-radius: 4px;
        cursor: pointer;
        & span {
            display: inline-block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #BF1E77;
        }
        @media (max-width: 1270px) {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3px 0;
            box-sizing: border-box;
        }
        @media (max-width: 740px) {
            width: 30px;
            height: 30px;
            margin-left: 10px;          
        }
    }
    &-menu {
        margin: 0 -12px 22px;
        &--list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            & li {
                display: inline-block;
                position: relative;
                font-size: 1.6em;
                font-weight: 500;
                line-height: 1.5em;
                transition: all .3s ease;
                padding: 12px;
                box-sizing: border-box;
                &::after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #BF1E77;
                }
                &:hover {
                    color: #BF1E77;
                }
                &:hover::after {
                    transition: width .3s;
                    width: 100%;
                }
                @media (max-width: 1270px) {
                    border-radius: 5px;
                    background-color: #d1cfcf;
                    flex: 1 1 auto;
                    text-align: center;
                }
            }
            @media (max-width: 1270px) {
                gap: 20px;
            }
        }
        @media (max-width: 1270px) {
            margin: 20px 0 22px;
        }
    }
}

// Mainscreen =========================
.mainscreen {
    &-wrapper {
        width: 100%;
        
    }
    &-carousel {
        height: 595px;
        overflow: hidden;
    }
}

// Sale ===============================
.sale {
    margin: 100px 0;
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    &-item {
        width: 370px;
        height: 240px;
        padding: 40px 40px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        background: linear-gradient( #BF1E7700, #BF1E77);
        color: #fff;
        display: flex;
        gap: 10px;
        align-items: flex-end;
        &--bg {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -10;
        }
        &--discount {
            display: inline-block;
            font-weight: 500;
            font-size: 6.4em;
            line-height: 1.1em;
        }
        &--title {
            display: inline-block;
            font-weight: 500;
            font-size: 2.4em;
            line-height: 1.5em;
            text-transform: lowercase;
        }
    }
    @media (max-width:1250px) {
        margin: 70px 0;
        &-wrapper {
            flex-wrap: wrap;
            gap: 20px;
        }
        &-item {
            flex: 1 1 auto;
        }
    }
    @media (max-width:750px) {
        margin: 50px 0;
        font-size: 0.8em;
    }
}

// Categories =========================
.categories {
    position: relative;
    &-bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 92%;
        height: calc(100% - 150px);
        border-radius: 20px 0 0 20px;
        background-color: #FBF7F4;
        z-index: -10;
        &--title {
            position: absolute;
            top: 0;
            left: calc(50% - 400px);
            text-align: center;
            width: 800px;
            font-family: Marck Script;
            font-size: 16.8em;
            line-height: 1.1em;
            color: #fff;
            z-index: -10;
        }
    }
    &-wrapper {
        text-align: center;
        padding-top: 80px;
        box-sizing: border-box;
    }
    &-items {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }
    &-item {
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 30px 40px;
        box-sizing: border-box;
        width: 31.5%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        background: linear-gradient(#6F393A00 80%, #6F393A);
        transition: background-color .3s ease;
        text-align: left;
        &:hover {
            background: #BF1E7770;
        }
        &.wide {
            width: 63%;
        }
        &--bg {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -10;
        }
        &--title {
            font-weight: 500;
            font-size: 2.4em;
            line-height: 1.5em;
            color: #fff;
        }
    }
    @media (max-width:1250px) {
        &-wrapper {
            padding-top: 60px;
        }
        &-item {
            width: 48%;
            flex: 1 1 auto;
            &.wide {
                width: 100%;
            }
        }
        &-bg--title {
            left: calc(50% - 400px);
            font-size: 12em;
        }
    }
    @media (max-width:740px) {
        &-wrapper {
            padding-top: 30px;
        }
        &-item {
            height: 200px;
        }
        &-bg--title {
            left: calc(50% - 140px);
            width: 280px;
            font-size: 5em;
        }
    }
}

// Earlier ============================
.earlier {
    position: relative;
    padding-top: 80px;
    box-sizing: border-box;
    &-bg--title {
        position: absolute;
        top: 0;
        left: calc(50% - 400px);
        text-align: center;
        width: 800px;
        font-family: Marck Script;
        font-size: 16.8em;
        line-height: 1.1em;
        color: #BF1E7710;
        z-index: -10;
    }
    &-wrapper {
        text-align: center;
    }
    &-carousel {
        width: 100%;
    }  
    &-item {
        padding: 0 15px;
        box-sizing: border-box;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    &-img {
        position: relative;
        width: 370px;
        height: 370px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 24px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #BF1E7700;
            transition: background-color .3s ease;
        }
        &:hover::after {
            background-color: #BF1E7780;
        }
    }
    &-favorite {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 30px;
        height: 30px;
        opacity: 0;
        z-index: 20;
        cursor: pointer;
        &+label {
            display: inline-block;
            user-select: none;
            &::before {
                content: '';
                position: absolute;
                top: 24px;
                right: 28px;
                display: inline-block;
                width: 30px;
                height: 30px;
                background: center no-repeat url(/src/icon/favorite.svg);
            }
        }
        &:checked+label::before {
            background: center no-repeat url(/src/icon/favoriteFill.svg);
        }
    }
    &-subtitle {
        font-size: 1.2em;
        line-height: 1.5em;
    }
    &-title {
        font-weight: 500;
        font-size: 2.4em;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #BF1E77;
    }
    &-attribute {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 25px;
        & li {
            font-weight: 600;
            font-size: 1.6em;
            line-height: 1.5em;
            & span {
                font-weight: 400;
            }
        }
    }
    &-price {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding-top: 25px;
        border-top: 1px solid #BF1E77;
        &--actual {
            font-weight: 500;
            font-size: 2.4em;
            line-height: 1.5em;
            margin-right: 20px;
        }
        &--old {
            font-size: 1.6em;
            line-height: 1.5em;
            opacity: .3;
        }
        &--addtocart {
            display: inline-block;
            margin-left: auto;
            font-size: 1.6em;
            line-height: 1.5em;
            color: #BF1E77;
            &:hover {
                color: #6e1044;
            }
        }
    }
    @media (max-width:1250px) {
        &-bg--title {
            left: calc(50% - 300px);
            width: 600px;
            font-size: 12.8em;
        }
        &-item {
            max-width: 360px;
        }
        &-img {
            width:330px;
            height: 330px;
        }
    }
    @media (max-width:740px) {
        padding-top: 50px;
        &-bg--title {
            left: calc(50% - 150px);
            width: 300px;
            font-size: 8.8em;
        }
        &-item {
            font-size: 0.8em;
            max-width: 290px;
        }
        &-img {
            width:260px;
            height: 260px;
        }
    }
}

// Footer =============================
.footer {
    position: relative;
    margin-top: 240px;
    &-subscribe {
        position: absolute;
        top: -150px;
        left: calc(50% - 510px);
        margin-bottom: -150px;
        z-index: 10;
    }
    &-info {
        padding: 250px 0 90px;
        background-color: #FBF7F4;
    }
    &-wrapper {
        display: flex;
        flex-direction: row;
    }
    &-section {
        flex: 1 1 33.333333%;
        display: flex;
        flex-direction: column;

        font-size: 1.6em;
        line-height: 1.5;
        &:not(:first-child){
            padding-left: 70px;
            border-left: 1px solid #BF1E77;
        }
    }
    &-title {
        margin-bottom: 20px;
        font-weight: 600;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-social {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 20px;
        & a {
            display: inline-flex;
            width: 36px;
            height: 36px;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 1px solid #545155;
            border-radius: 50%;
        }
    }
    &-subtitle {
        margin-top: auto;
        font-size: 0.75em;
    }
    @media (max-width:1250px) {
        &-subscribe {
            top: -200px;
            left: calc(50% - 370px);
        }
        &-wrapper {
            flex-direction: column;
        }
        &-section {
            flex: 1 1 auto;
            margin-left: 18.4vw;
            padding-left: 50px;
            border-left: 1px solid #BF1E77;
            &:not(:first-child){
                padding-left: 50px;
            }
            &:not(:last-child) {
                overflow: hidden;
                margin-bottom: 20px;
            }
        }
        &-title {
            margin: 10px 0;
        }
    }
    @media (max-width:740px) {
        &-subscribe {
            top: -200px;
            left: 0;
        }
        &-section {
            margin-left: 0;
        }
    }
}
.subscribe {
    color: #fff;
    &-wrapper {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        padding: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    &-bg {
        background-color: #BF1E77;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            opacity: 0.08;
        }

    }
    &-info {
        max-width: 350px;
    }
    &-title {
        margin-bottom: 20px;
        font-size: 3.8em;
        line-height: 1.5em;
        font-weight: 500;
    }
    &-subtitle {
        font-size: 1.6em;
        line-height: 1.5em;
    }
    &-form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: end;
        &--group {
            width: 100%;
            display: flex;
            & input {
                flex: 1 1 auto;
                border-radius: 4px;
                padding: 13px 30px;
                box-sizing: border-box;
                outline:none;
                &::placeholder {
                    color: #BF1E77;
                }
            }
        }
        & p {
            font-size: 1.2em;
            line-height: 1.5em;
            & a {
                text-decoration: underline;
            }
        }

    }
    &-btn {
        position: relative;
        display: inline-block;
        padding: 0 90px 0 20px;
        margin-left: 20px;
        box-sizing: border-box;
        background-color: #545155;
        border-radius: 4px;
        overflow: hidden;
        width: fit-content;
        transition: background-color .3s ease;
        &::after {
            content: '';
            position: absolute;
            height: 10px;
            width: 45px;
            top: calc(50% - 4px);
            right: 30px;
            background: no-repeat url(/src/footer/arrowBtn.svg);
        }
        &:hover {
            background-color: #403e41;
        }
    }
    @media (max-width:1250px) {
        width: 740px;
        &-wrapper {
            padding: 50px;
            flex-direction: column;
            gap: 30px;
        }
        &-info {
            width: 100%;
        }
    }
    @media (max-width:740px) {
        width: 100%;
        font-size: 0.8em;
        padding: 0;
        &-wrapper {
            padding: 20px;
            text-align: center;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            border-radius: 0;
        }
        &-form--group {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &-btn {
            padding: 12px 80px 12px 20px;
            margin: 0;
            &::after {
                top: calc(50% - 4px);
                right: 20px;
                background: no-repeat url(/src/footer/arrowBtn.svg);
            }
        }
    }
}